include AUTHORS COPYING TODO tox.ini
include Makefile
include overlapped.c pypi.bat
include check.py runtests.py run_aiotest.py release.py
include update-tulip*.sh

include doc/conf.py doc/make.bat doc/Makefile
include doc/*.rst doc/*.jpg

include examples/*.py

include tests/*.crt tests/*.pem tests/*.key
include tests/*.py
